.project {
  height: 100%;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  color: var(--prizm-text-icon-primary);
}

.theme {
  height: 100%;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}
