<div class="app-container" data-prizm-theme="dark">
  <div class="top-bar"></div>
  <div class="flex-container">
    <div class="left-panel">
      <div class="structure-panel">
        <div class="panel-title">
          <h2>Структура объектов</h2>
        </div>
        <prizm-select-base-example></prizm-select-base-example>
        <prizm-tree-base-example></prizm-tree-base-example>
      </div>
    </div>
    <div class="right-panel">
      <div class="settings-panel">
        <div class="panel-title">
          <h2>Настройка объектов</h2>
        </div>
        <div class="document-label">
          <span>Содержимое документа</span>
          <span class="required">*</span>
        </div>
        <textarea rows="20" cols="50"></textarea> 
        <div class="buttons-container">
          <prizm-dialog-footer-template-example></prizm-dialog-footer-template-example>
        </div>
      </div>
    </div>
  </div>
</div>
